{% load static %}

    {% if comment.author%}
    <div class="flex flex-row justify-around m-6 bg-blue-400 rounded-lg">
        <p class="p-2 text-sm text-white">Comment by:{{ comment.author.username}}</p>
        <p class="p-2 text-sm text-white">Date : {{ comment.created }}</p>
        {% else %}
        <p>No Author</p>
        {% endif %}
    </div>

    <h6 class="pl-8 text-2xl font-semibold text-blue-700 "> {{ comment.body }}</h6>

    <div>
        <div class="mb-4 text-end">

            <!-- Likes-comment -->
            <div class="mb-2">
                {% include 'snippets/comment_likes.html' %}
            </div>


            <!-- Only allow delete by author -->
            {% if user.is_authenticated and comment.author == user %}
            <a class="btn btn-outline btn-error btn-sm"
                href="{% url 'delete-comment' comment.id %}">Delete Comment</a>
            {% endif %}
        </div>

        {% if comment.replies.count and user.is_authenticated%}
        <h5 id="repliescount-{{ comment.id }}" class="pt-2 m-3 text-xl font-medium text-center ">Replies:
            {{ comment.replies.count }}
        </h5>
        {% endif %}
        
    </div>

        <div class="mx-3">
            {% for reply in comment.replies.all %}
            {% include 'a_plots/reply.html' %}
            {% endfor %}
        </div>

    <!-- Add a Reply -->
    {% if user.is_authenticated %}
    <div  class="card ">
        <h3 class="ml-2 text-sm text-blue-600">Reply to the Comment Above</h3>
        <form class="flex-col mx-4 " autocomplete="off" 
        hx-post="{% url 'reply-sent' comment.id %}"
        hx-target="this"
        hx-swap="outerHTML">
            {% csrf_token %}
            
                <div class="flex-grow ">{{ replyform.as_p }}</div>
                <button class="btn btn-info ">Submit</button>
            
        </form>
    </div>
    {% endif %}


