{% load static %}

<div class="btm-nav h-8">
  <div class="bg-pink-200 text-pink-600 rounded-none h-8">
    <a href="{% url 'about' %}" class="btm-nav-label">About</a>
  </div>
  <div class=" bg-blue-200 text-blue-600 rounded-none h-8 ">
    <a href="{% url 'questions' %}" class="btm-nav-label">FAQ</a>
  </div>
  <div class="bg-teal-200 text-teal-600 rounded-none h-8">
    
    <a href="{% url 'plot-table' %}" class="btm-nav-label">List</a>
  </div>
  {% if user.is_superuser %}
  <div class="bg-yellow-200 text-orange-600 rounded-none h-8">
    <a class=" btm-nav-label text-sm" href="{% url 'check-reports' %}">Reports</a>
    {% endif %}
    
  </div>
</div>

