{% load static %}

<div class="btm-nav h-8">
  <button class="bg-pink-200 text-pink-600 rounded-none">
    
    <a href="{% url 'about' %}" class="btm-nav-label">About</a>
  </button>
  <button class=" bg-blue-200 text-blue-600 rounded-none ">
    
    <a href="{% url 'questions' %}" class="btm-nav-label">FAQ</a>
  </button>
  <button class="bg-teal-200 text-teal-600 rounded-none">
  
    <a href="{% url 'plot-table' %}" class="btm-nav-label">List</a>
  </button>
  {% if user.is_superuser %}
  <button class="bg-yellow-200 text-orange-600 rounded-none">
   
    <a class=" btm-nav-label text-sm" href="{% url 'check-reports' %}">Reports</a>
    {% endif %}
    
  </button>
</div>

