{% load static %}
<div class="w-full min-h-full p-6 bg-red-400 shadow-lg card lg:rounded-md">
    <h3 class="my-2 text-2xl font-semibold text-center">Plot of the week</h3>
    <h4 class="my-2 text-xl font-semibold text-center text-white">Glamper Pamper</h4>
    <ul>
        <li class="text-truncate "><strong>Description:</strong> Pure Luxury</li>
        <li class=""><strong>Campsite:</strong> WeCamp}</li>
        <li class=""><strong>Price for the night:</strong> €23</li>
        <li class=""><strong>Country: Spain</strong></li>
    </ul>
    
<img class="mt-2" src="https://res.cloudinary.com/df4x68pyj/image/upload/v1708699406/media/photos/rv-caravan-car-image-vector-46585938_sj1ctd.webp" alt="">

</div>