{% load static %}

<div class="flex flex-col lg:flex lg:flex-row lg:gap-3">



    <div class=" mx-2 text-center lg:mx-6">

        <div class="collapse collapse-arrow bg-base-200 my-2">
            <input type="radio" name="my-accordion-2" checked="checked" />
            <div class="collapse-title text-xl font-medium my-1 bg-sky-100">
                Welcome to <span class=" text-red-700">Super</span> <span class="text-blue-700">Camper</span>
            </div>
            <div class="collapse-content bg-gray-100 shadow-md text-gray-600 mx-6">
                <p class="py-3">
                    All the best camping plots you have found all around Europe. Was the
                    plot easy to get into and out of? Was it a nice place to stay? Did you
                    have a good time? Let us know! How far away was the electric hook up
                    point?
                </p>
                <p class="mb-4">
                    Are there shops nearby or other facilities like restaurants and
                    children's playgrounds?
                </p>
            </div>
        </div>

        <div class="collapse collapse-arrow bg-base-200 my-2">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-medium bg-sky-200 my-1">
                Bienvenido a <span class=" text-red-700">Super</span> <span class="text-blue-700">Camper</span>
            </div>
            <div class="collapse-content bg-gray-100 shadow-md text-gray-600 mx-6">
                <p>Todos las mejores parcelas para acampar que has encontrado por toda Europa. ¿Fue fácil entrar y salir
                    de la parcela? ¿Era un parcela agradable para quedarse? ¿Pasaste un buen momento? ¡Déjanos saber!
                    ¿Qué tan lejos estaba el punto de conexión eléctrica?</p>

                <p class="mb-4"> ¿Hay supermercados cercanas u otras instalaciones como restaurantes y parques
                    infantiles?</p>
            </div>
        </div>

        <div class="collapse collapse-arrow bg-base-200 my-2">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-medium bg-sky-300 my-1">
                Willkomen bei <span class=" text-red-700">Super</span> <span class="text-blue-700">Camper</span>
            </div>
            <div class="collapse-content bg-gray-100 shadow-md text-gray-600 mx-6">
                <p>Alle besten Campingplätze, die du in ganz Europa gefunden hast. War es einfach, den Platz zu
                    erreichen und zu verlassen? War es ein schöner Ort zum Übernachten? Hattest du eine gute Zeit? Lass
                    es uns wissen! Wie weit war der Stromanschluss entfernt?</p>

                <p class="mb-4"> Gibt es in der Nähe Geschäfte oder andere Einrichtungen wie Restaurants und Spielplätze
                    für Kinder?</p>
            </div>
        </div>

        <div class="collapse collapse-arrow bg-base-300 my-2">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-medium bg-sky-400 my-1">
                Bienvenue à <span class=" text-red-700">Super</span> <span class="text-blue-700">Camper</span>
            </div>
            <div class="collapse-content bg-gray-100 shadow-md text-gray-600 mx-6">
                <p>Tous les meilleurs emplacements de camping que vous avez trouvés partout en Europe. Était-il facile
                    d'accéder et de sortir de l'emplacement ? Était-ce un endroit agréable pour séjourner ? Avez-vous
                    passé un bon moment ? Faites-nous savoir ! À quelle distance se trouvait le point de raccordement
                    électrique ?</p>

                <p class="mb-4"> Y a-t-il des magasins à proximité ou d'autres installations comme des restaurants et
                    des aires de jeux pour enfants ?</p>
            </div>
        </div>

    </div>

    <div class="collapse lg:visible">
        <img class=" w-full h-full object-cover rounded-none "
            src="https://res.cloudinary.com/df4x68pyj/image/upload/v1709285764/media/photos/campsite_rbr4nl.jpg"
            alt="landscape picture" />
    </div>
</div>