<div class="  mx-auto flex flex-col items-center pt-4 px-4">
    <img class="w-36 h-36 rounded-full object-cover mb-4" src="{{ profile.avatar }}" />
    <div class="text-center">
      <h1>{{ profile.name }}</h1>
      <div class="text-gray-400 mb-2 -mt-3">@{{ profile.user.username }}</div>
      {% if profile.info %}
      <div class="mt-2">{{ profile.info|linebreaksbr }}</div>
      {% endif %}
    </div>
    <hr class=" w-full my-4 border-2 border-blue-700 ">

    <h4 class=" text-lg font-medium">My Camper Story</h4>
    <div class="text-left">
      {% if profile.campermode %}
      <p>Often I go camping with a {{ profile.campermode }}</p>
      {% else %}
      <p>
        Lying on a blow up mattress looking at the stars is the best form of
        camping
      </p>
      {% endif %}
      <p>{{ profile.camperstory }}</p>
      <p>Favourite Campsite - {{ profile.fav_campsite }}</p>
      <p class=" ">
        Member since - {{ profile.created }}
      </p>
      <div class="mb-2">Nationality - {{ profile.nationality }}</div>
      <p class="mb-2">Supercamper Plots Created: <span class="px-3 py-2 font-semibold border-2 border-blue-800 rounded-full bg-sky-300">{{ profile.user.plots.count }}</span></p>
      <span class=" btn btn-sm  btn-info">{{ profile.level }}</span>
    </div>

  </div>