{% extends 'layouts/blank.html' %}
{% load static %} {% block content %}

<section class="pt-4 bg-slate-100">

  <div class=" max-w-5xl card mx-auto shadow-lg">
    <div class="collapse collapse-arrow bg-base-200 ">
      <input type="radio" name="my-accordion-2" checked="checked" />
      <div class="collapse-title text-xl font-medium text-blue-700">
        How Do I Add a Plot?
      </div>
      <div class="collapse-content">
        <p>Registered users can add plots to the site. You can add a plot by clicking on the “Add Plot” button in the navigation bar. Then you fill in a form with the details of the plot. Was it easy to get your caravan or camper van in and out of th plot? Add as much information to help you remember why you like the plot. Is it close to amenities and services, water, electric hook up, toilets etc. Always a good idea to add a photo of the plot, best way to keep it fresh in your memory.</p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium text-blue-700">
        What Products Do You Offer?
      </div>
      <div class="collapse-content">
        <p>Going to have mugs, t-shirts and stickers for sale. Probably will do something with camping products eventually also.</p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium text-blue-700">
        Security of Personal Data?
      </div>
      <div class="collapse-content">
        <p class="mb-2 text-gray-500 ">The site is designed fully GDPR compliant. Passwords and email addresses are properly encrypted at the base level. We promise not to sell or otherwise distribute any data on SuperCamper users.
    
        </p>
    <p class="mb-2 text-gray-500 0">I recommend you do not put personal data into your camping plot reviews. You are encouraged to block out vehicle registration numbers if you feel safer doing so.
        </p>
    
      </div>
    </div>
  </div>

  <hr class="my-10 border-2 border-blue-900 ">

  <div class=" mx-4 grid gap-6  mt-12 mb-32 max-w-7xl lg:grid-cols-4 min-h-96 md:grid-cols-2 lg:mx-auto">
    <div class="h-full">{% include 'includes/plotoftheweek.html' %}</div>
    <div class="h-full ">{% include 'includes/products.html' %} </div>
    <div class="h-full">{% include 'includes/languages.html' %}</div>
    <div class="h-full">{% include 'includes/search.html' %}</div>
  </div>

</section>



{% endblock content %}