<reply class="py-3 border-t ">
    <div>

        {% if reply.author %}

        <div class="mx-8 mt-6  bg-blue-300 rounded-md">
            <div class="flex justify-between mx-8">
                <p class="pt-2 text-sm font-semibold text-blue-600">Reply by: {{ reply.author.username }}</p>
                <p class="pt-2 text-sm font-semibold text-blue-600">{{ reply.created }}</p>
            </div>
        </div>
        {% else %}
        <span>No Author</span>
        {% endif %}


        <div>
            <p class="pl-8 m-6 text-xl font-semibold text-purple-700">{{ reply.body }}</p>
        </div>

        {% if user.is_authenticated and reply.author == user%}

        <div class="flex flex-row-reverse">
            <a class="btn btn-sm btn-error mb-2 btn-outline" href="{% url 'delete-reply' reply.id %}">Delete Reply</a>
        </div>
        {% endif %}


    </div>
</reply>