

{% extends 'layouts/box.html' %}
<!-- {% load static %} -->
{% block content %}

    <h1 class="text-2xl font-semibold text-center text-gray-600">Report Plot</h1>
    <div class="p-4 mx-auto card-body">
        <h3 class="mb-3 text-xl text-gray-600">What was wrong with it?</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <flex class="flex flex-col">
                <input class="mb-3 p-4 w-full btn-block btn btn-error" type="submit" value="Report the Post">
                <a class="btn bg-gray-200 btn-sm" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            </flex>
        </form>
        <h2 class="mt-5 text-gray-600 "> Reported by:  {{ user.profile.name }}</h2>
        <p class="mt-2 text-gray-600">
            This will remove the post from the site and the admin will be notified. We will not tolerate misuse of this website. Thank you for your help.
        </p>
    </div>

{% endblock content %}