{% extends 'layouts/blank.html' %}


{% block content %}

<h1 class="text-2xl font-semibold text-center">All the Plots</h1>

<div class="overflow-x-auto mx-auto">
    <table class="table table-xs text-center">
      <thead class=" border-b-2">
        <tr>
          <th>Plot Name</th> 
          <th>Owner</th> 
          <th>type</th>  
          <th>Campsite</th> 
          <th>Country</th>
        </tr>
      </thead> 
      <tbody>
        {% for plot in plots %}
        <tr>
          <td><a class="btn btn-ghost btn-xs mx-1" href="{% url 'show-plot' plot.id %}">
            {{ plot.title }}
        </a></td> 
          <td><a class="p-2 cursor-pointer btn btn-ghost btn-sm mx-1" href="{% url 'user-profile' plot.owner %}">
            {{ plot.owner }}
        </a></td> 
        <td class="p-1"> 

            {% if plot.categories == 'Campsite' %}
            <a class="btn btn-primary btn-xs w-20" href="{% url 'campsite-plots' %}">Campsite</a>
            {% endif %}
    
            {% if plot.categories == 'Official' %}
            <a class="btn bg-yellow-400 btn-xs w-20" href=" {% url 'official-plots' %}">Official</a>
            {% endif %}
    
            {% if plot.categories == 'Wild' %}
            <a class="btn btn-xs bg-green-600 w-20" href=" {% url 'wild-plots' %}">Wild</a>
            {% endif %}


        </td> 
          <td>{{ plot.campsite }}</td> 
          <td>{{ plot.countries }}</td>
        </tr>
        {% endfor %}
      </tbody> 
      
    </table>
  </div>


  <!--  Pagination for the page -->

<div class="flex items-center justify-center mx-auto my-4">
    
    <div class="flex p-2 space-x-4">
        {% if plots.has_previous %}
            <a class="hover:bg-yellow-400" href="?page=1">&laquo First</a>
            <a class="hover:bg-yellow-400" href="?page={{ plots.previous_page_number }}">Previous</a>
        {% endif %}
    </div>

    
    <div class="p-2 bg-gray-200 border-2 border-gray-400 rounded-md mb-4">Page {{ plots.number }} of {{ plots.paginator.num_pages }}</div>

    <div class="flex p-2 space-x-4">
        {% if plots.has_next %}
        <a href="?page={{ plots.next_page_number }}">Next</a>
            <a href="?page={{ plots.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </div>
        
</div>
    
    
{% endblock content %}